[submodule "dab3"]
	path = dab3
	url = git@github.com:SJuhl75/dabex.git
[submodule "RTKLIB"]
	path = RTKLIB
	url = git@github.com:SJuhl75/RTKLIB.git
[submodule "dab-cmdline"]
	path = dab-cmdline
	url = https://github.com/SJuhl75/dab-cmdline.git
[submodule "stable-diffusion-webui-forge"]
	path = stable-diffusion-webui-forge
	url = https://github.com/lllyasviel/stable-diffusion-webui-forge.git
	branch = sd35
